body{
  background-color: #8eadc5;    /* Color de fondo inicial: gris azulado */
}

body.claro{
  background-color: #9cff7d;    /* Color verde claro */
}

body.oscuro{
  background-color: #29a803;    /* Color verde oscuro */
}


button{
  background-color: #7fba67;
  color: #ffffff;
  border: none;
  width: 100%;
  padding: 30px;
  font-size: 1em;
  margin-top: 10px;
}